<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>@Html.ActionLink("Home", "Index", "Home")</h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span>Menu</span>
            </a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <li>@Html.RouteLink("Admin panel", new { controller = "Admin", action = "Users" }, new { @class = "button" })</li>
                }
                <li>@Html.RouteLink("Search", new { controller = "Home", action = "Search" })</li>
                <li class="has-form">@Html.RouteLink("Profile", new { controller = "User", action = "Show" }, new { @class = "button" })</li>   
                <li class="divider"></li>
                <li>@Html.RouteLink("Upload", new { controller = "User", action = "Upload" }, new { @class = "button" })</li>   
                <li class="divider"></li>
                <li class="has-form">@Html.RouteLink("Sign out", new { Controller = "Account", action = "LogOff" })</li>
            }
            else
            {
                <li>@Html.RouteLink("Sign in", new { controller = "Account", action = "LogOn" })</li>
                <li class="divider"></li>
                <li class="has-form">@Html.RouteLink("Sign up", new { controller = "Account", action = "SignUp" }, new { @class = "button" })</li>
            }
        </ul>
    </section>
</nav>