@model MusicSite.Models.UserShowViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

@helper SongLink(string title, int id)
{
    @Html.RouteLink(title, new { controller = "Song", action = "Show", id = id });
}

<div class="row">
	<div class="large-12 columns">
		<h2>Hello, @Model.User.Name</h2>
		<hr />
	</div>
</div>
<div class="row">
    <div class="large-6 columns">
        <h4>Recently uploaded songs</h4>
        @if (Model.UploadedSongs.Any())
        {
            <table class="stats">
                <tbody>
                    @foreach (var song in Model.UploadedSongs.Take(10))
                    {
                        <tr>
                            <td width="30">@(Model.UploadedSongs.IndexOf(song) + 1)</td>
                            <td width="350">@song.Artist – @SongLink(song.Title, song.SongId)</td>
                            <td>@Html.RouteLink("Download", new { controller = "Song", action = "Download", id = song.SongId })</td>
                            <td>@Html.RouteLink("Edit", new { controller = "Song", action = "Edit", id = song.SongId })
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("See all", "UploadedSongs", new { controller = "User" })
        }
        else
        {
            <div class="panel">None</div> 
        }
        <h4>Recent activities</h4>
        @if (Model.Activities.Any())
        {
        <table class="stats">
            <thead>
                <tr>
                    <th width="50">Event</th>
                    <th width="350">Song</th>
                    <th width="30">Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activity in Model.Activities.Take(10))
                {
                    <tr>
                        <td>@activity.Event</td>
                        <td>@activity.Song.Artist – @SongLink(activity.Song.Title, activity.Song.SongId)</td>
                        <td>@activity.Date.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("See all", "Activities", new { controller = "User" })
        }
        else
        {
            <div class="panel">None</div>
        }
    </div>
    <div class="large-6 columns">
        <div id="chart-overall">
        </div>
    </div>
</div>

@if (Model.ActivityShare.HasAny)
{
<script src="@Url.Content("~/Scripts/Highcharts/highcharts.js")"></script>
<script>
    $(document).ready(function() {
        var chart;
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart-overall',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: "@Model.User.Name's activity"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Activity share',
                data: [
                    ['Downloads', @Model.ActivityShare.DownloadShare],
                    ['Uploads', @Model.ActivityShare.UploadShare],
                    ['Listenings', @Model.ActivityShare.ListeningShare],
                ]
            }],
            exporting: {
                enabled: false
            }
        });
    });
</script>
}
else
{
    <script>
        $(function() {
            var $panel = $('<div />').addClass('panel').text('No activites so far');
            $('#chart-overall').append($panel);
        });
    </script>
}

@if (User.Identity.IsAuthenticated)
{
    <script src="/Scripts/User/likes.js"></script>
}